.App {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.map-container{
  height: 100%;
  width: 40%;
}
.input-form{
  margin-left: 90vh;
  margin-top:  -80vh;
  width: 30%;
  height: 40%;
  padding: 20px;
  position: relative;
}

.lattitude,.longitude,.title{
  padding: 10px;
  width: 70%;
  margin-bottom: 25px;
  border-radius: 3px;

}
.lattitude,.longitude,.title,.submit{
  border: none;
  border: 1px solid #ccc;
}

.submit{
  border-radius: 3px;
  width: 50%;
  height: 3em;
  background-color: #0066ff;
  color: white;
  font-size: 1em; 
}

.submit:hover{
  background-color: #173691;
}

