.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.map-container{
  height: 100%;
  width: 40%;
}
.input-form{
  margin-left: 90vh;
  margin-top:  -80vh;
  width: 30%;
  height: 40%;
  padding: 20px;
  position: relative;
}

.lattitude,.longitude,.title{
  padding: 10px;
  width: 70%;
  margin-bottom: 25px;
  border-radius: 3px;

}
.lattitude,.longitude,.title,.submit{
  border: none;
  border: 1px solid #ccc;
}

.submit{
  border-radius: 3px;
  width: 50%;
  height: 3em;
  background-color: #0066ff;
  color: white;
  font-size: 1em; 
}

.submit:hover{
  background-color: #173691;
}

.error{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;

  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
      border-color: red;

    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .autocomplete-container{
    margin-left: 800px;
    margin-top: 50px;
    height: 150px;
  }